In [28]:
import pandas as pd
import numpy as np
import re, os
import sys

In [29]:
sys.stdout.encoding

'UTF-8'

In [30]:
path = '../data-output'
try:
    os.mkdir(path)
except OSError as error:
    pass  
    
raw_data = pd.read_csv("./raw-data/clubs.csv",  header=None)
raw_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,1,Real,Madrid,CF,ESP,53,14,476,285,81,110,1047,521,651.0,526.0,NaN
1,2,FC,Bayern,München,GER,39,6,382,229,76,77,804,373,534.0,431.0,NaN
2,3,FC,Barcelona,ESP,33,5,339,197,76,66,667,343,470,324.0,NaN,NaN
3,4,Manchester,United,ENG,30,3,293,160,69,64,533,284,389,249.0,NaN,NaN
4,5,Juventus,ITA,37,2,301,153,70,78,479,301,376,178,NaN,NaN,NaN

In [31]:
formatted_data = pd.DataFrame(columns = ['Position','Club','Country','Participated',
                                         'Titles','Played','Win','Draw','Loss','Goals For', 
                                         'Goals Against','Pts','Goal Diff'])

In [32]:
for index, record in raw_data.iterrows():
    StartFrom = 0
    Position = record[0]
    #if (index > 2):
    #    break
    for i in range(15,1,-1):
        if (pd.isna(record[i])):
            pass
        else:
            StartFrom = i
            break
      
    GoalDiff = record[StartFrom]
    Points = record[StartFrom-1]
    GA = record[StartFrom-2]
    GF = record[StartFrom-3]
    Loss = record[StartFrom-4]
    Draw = record[StartFrom-5]
    Win = record[StartFrom-6]
    Played = record[StartFrom-7]
    Titles = record[StartFrom-8]
    Part = record[StartFrom-9]
    Country = record[StartFrom-10]
    Club = ''
    for k in range(1,StartFrom-10):
        Club = Club + " "  + record[k]
    Club = Club.strip()
    
    club_series = pd.Series([Position,Club,Country,Part,Titles,Played,Win,Draw,Loss,GF,GA,Points,GoalDiff], 
                           index = ['Position','Club','Country','Participated', 'Titles','Played','Win','Draw', 'Loss','Goals For', 'Goals Against','Pts','Goal Diff'] )
    formatted_data = pd.concat([formatted_data, pd.DataFrame([club_series])], ignore_index=True)

/var/folders/wb/yd9d7tr11p1fxy8s2vvnkjfm0000gn/T/ipykernel_11168/3084733714.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  formatted_data = pd.concat([formatted_data, pd.DataFrame([club_series])], ignore_index=True)

In [33]:
formatted_data.shape

(536, 13)

In [34]:
formatted_data

,Position,Club,Country,Participated,Titles,Played,Win,Draw,Loss,Goals For,Goals Against,Pts,Goal Diff
0,1,Real Madrid CF,ESP,53,14,476,285,81,110,1047,521,651.0,526.0
1,2,FC Bayern München,GER,39,6,382,229,76,77,804,373,534.0,431.0
2,3,FC Barcelona,ESP,33,5,339,197,76,66,667,343,470.0,324.0
3,4,Manchester United,ENG,30,3,293,160,69,64,533,284,389.0,249.0
4,5,Juventus,ITA,37,2,301,153,70,78,479,301,376.0,178.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,532,CS Stade Dudelange,LUX,1,0,2,0,0,2,0,18,0.0,-18.0
532,533,Rabat Ajax FC,MLT,2,0,4,0,0,4,0,20,0.0,-20.0
533,534,Keflavík,ISL,4,0,8,0,0,8,5,35,0.0,-30.0
534,535,US Luxembourg,LUX,5,0,10,0,0,10,3,43,0.0,-40.0
535,536,FC Avenir Beggen,LUX,6,0,12,0,0,12,1,56,0.0,-55.0

In [35]:
formatted_data.to_csv("../data-output/AllTimeRankingByClub.csv", header=True, index=False, encoding='utf-16')

In [36]:
formatted_data.reset_index(drop=True, inplace=True)
formatted_data.set_index(["Position"])

,Club,Country,Participated,Titles,Played,Win,Draw,Loss,Goals For,Goals Against,Pts,Goal Diff
Position,,,,,,,,,,,,
1,Real Madrid CF,ESP,53,14,476,285,81,110,1047,521,651.0,526.0
2,FC Bayern München,GER,39,6,382,229,76,77,804,373,534.0,431.0
3,FC Barcelona,ESP,33,5,339,197,76,66,667,343,470.0,324.0
4,Manchester United,ENG,30,3,293,160,69,64,533,284,389.0,249.0
5,Juventus,ITA,37,2,301,153,70,78,479,301,376.0,178.0
...,...,...,...,...,...,...,...,...,...,...,...,...
532,CS Stade Dudelange,LUX,1,0,2,0,0,2,0,18,0.0,-18.0
533,Rabat Ajax FC,MLT,2,0,4,0,0,4,0,20,0.0,-20.0
534,Keflavík,ISL,4,0,8,0,0,8,5,35,0.0,-30.0
535,US Luxembourg,LUX,5,0,10,0,0,10,3,43,0.0,-40.0
536,FC Avenir Beggen,LUX,6,0,12,0,0,12,1,56,0.0,-55.0

In [37]:
formatted_data = formatted_data.astype({'Participated':'int32', 'Titles':'int32', 'Played':'int32','Win':'int32',
                                        'Draw':'int32','Loss':'int32','Goals For':'int32', 'Goals Against':'int32',
                                        'Pts':'int32','Goal Diff':'int32'})
formatted_data.dtypes

Position         object
Club             object
Country          object
Participated      int32
Titles            int32
Played            int32
Win               int32
Draw              int32
Loss              int32
Goals For         int32
Goals Against     int32
Pts               int32
Goal Diff         int32
dtype: object

In [38]:
#del Country_data
Country_data = formatted_data.groupby(formatted_data["Country"]).sum()

In [39]:
Country_data = Country_data.sort_values(by=['Pts','Win'], ascending=False)
Country_data.reset_index(drop=False, inplace=True)

In [40]:
country_dict = { "ESP": "Spain", "ENG": "England", "ITA" :"Italy", "GER":"Germany", "POR": "Portugal",
               "FRA":"France", "NED":"Netherlands", "POL":"Poland", "ROU":"Romania", "RUS":"Russia", 
               "AUT":"Austria", "SCO":"Scotland", "SRB":"Serbia", "SUI":"Switzerland", "SVK":"Slovakia",
               "SVN":"SLovenia", "TUR":"Turkey", "NOR":"Norway", "ISR":"Israel", "KAZ":"Kazakhstan", 
               "AZE":"Azerbaijan", "HUN":"Hungary", "GRE":"Greece", "FIN":"Finland", "DEN":"Denmark", 
                "SWE":"Swedend", "CZE":"Czech Republic", "CYP":"Cyprus", "CRO": "Croatia", "BUL":"Bulgaria", 
                "BLR":"Belarus", "BEL":"Belguim", "UKR":"Ukraine", "MDA" :"Moldova", "IRL":"Ireland", 
                "ALB":"Albania" , "MLT":"Malta", "LVA":"Latvia", "NIR":"Northern Ireland", "LTU":"Lithuania", 
               "GEO":"Georgia", "ISL":"Iceland", "ARM":"Armenia", "BIH":"Bosnia and Herzegovina",
               "LUX":"Luxemborg", "MKD":"North Macedonia", "EST":"Estonia", "WAL":"Wales", "FRO":"Faroe Island",
               "MNE":"Montegro", "KOS":"Kosovo", "GIB":"Gibraltar", "AND":"Andorra", "SMR":"San Marino"}

In [41]:
len(country_dict)

54

In [42]:
Country_data['Country'].nunique()

54

In [43]:
Country_data.rename(columns={"Country":"CountryCode"},inplace=True)
countries = []
for i, code in Country_data["CountryCode"].items():
    country = country_dict[code]
    countries.append(country)
Country_data["Country"]=countries

In [44]:
Country_data = Country_data[['Country','Participated','Titles','Played','Win','Draw','Loss','Goals For',
                            'Goals Against','Pts','Goal Diff']]

In [45]:
Country_data.index = np.arange(1,len(Country_data.index)+1)
Country_data

,Country,Participated,Titles,Played,Win,Draw,Loss,Goals For,Goals Against,Pts,Goal Diff
1,Spain,152,19,1379,717,313,349,2476,1492,1747,984
2,England,140,15,1278,676,280,322,2289,1299,1632,990
3,Germany,171,8,1216,573,250,393,2128,1589,1396,539
4,Italy,142,12,1127,528,285,314,1731,1219,1341,512
5,France,118,1,810,337,178,295,1214,1003,852,211
6,Portugal,109,4,708,296,161,251,1064,889,753,175
7,Netherlands,99,6,577,228,147,202,864,723,603,141
8,Scotland,80,1,443,186,89,168,648,582,461,66
9,Ukraine,68,0,430,171,98,161,589,571,440,18
10,Belguim,89,0,460,155,100,205,602,722,410,-120
11,Greece,89,0,447,140,112,195,522,667,392,-145
12,Russia,65,0,407,130,97,180,497,595,357,-98
13,Turkey,90,0,423,129,94,200,469,697,352,-228
14,Czech Republic,73,0,336,127,74,135,435,494,328,-59
15,Austria,80,0,343,129,66,148,491,529,324,-38
16,Switzerland,80,0,339,119,69,151,473,576,307,-103
17,Serbia,53,1,269,118,59,92,454,351,295,103
18,Romania,74,1,321,106,78,137,417,473,290,-56
19,Swedend,68,0,292,105,62,125,369,439,272,-70
20,Hungary,67,0,268,103,53,112,423,442,259,-19
21,Poland,67,0,258,109,38,111,379,399,256,-20
22,Denmark,76,0,301,93,69,139,372,500,255,-128
23,Bulgaria,63,0,254,91,49,114,362,382,231,-20
24,Norway,66,0,271,83,59,129,357,446,225,-89
25,Croatia,38,0,207,86,44,77,300,278,216,22
26,Cyprus,58,0,215,65,47,103,234,370,177,-136
27,Slovakia,36,0,156,61,36,59,202,204,158,-2
28,Israel,32,0,155,55,32,68,216,235,142,-19
29,Belarus,28,0,137,45,40,52,152,191,130,-39
30,Finland,61,0,185,52,25,108,194,397,129,-203
31,SLovenia,28,0,120,49,23,48,151,173,121,-22
32,Moldova,27,0,114,43,22,49,126,122,108,4
33,Azerbaijan,24,0,93,31,28,34,98,113,90,-15
34,Ireland,64,0,164,25,39,100,129,355,89,-226
35,Kazakhstan,20,0,73,27,20,26,90,106,74,-16
36,Albania,45,0,114,24,20,70,85,188,68,-103
37,Lithuania,28,0,84,25,16,43,87,137,66,-50
38,Malta,59,0,138,23,18,97,92,377,64,-285
39,Northern Ireland,60,0,139,14,36,89,101,326,64,-225
40,Latvia,28,0,83,24,14,45,86,131,62,-45
41,Iceland,56,0,131,20,22,89,108,323,62,-215
42,Georgia,28,0,81,23,12,46,88,133,58,-45
43,Armenia,27,0,79,20,17,42,74,121,57,-47
44,Luxemborg,65,0,145,19,16,110,117,473,54,-356
45,Bosnia and Herzegovina,26,0,68,20,10,38,65,108,50,-43
46,North Macedonia,27,0,77,14,22,41,67,114,50,-47
47,Estonia,28,0,68,13,15,40,59,125,41,-66
48,Wales,27,0,65,16,7,42,56,148,39,-92
49,Faroe Island,28,0,62,10,11,41,55,157,31,-102
50,Montegro,16,0,39,6,6,27,27,76,18,-49
51,Gibraltar,9,0,22,7,3,12,25,38,17,-13
52,Kosovo,6,0,17,7,2,8,21,25,16,-4
53,Andorra,16,0,33,4,6,23,21,70,14,-49
54,San Marino,16,0,27,1,3,23,10,68,5,-58

In [46]:
Country_data.to_csv("../data-output/AllTimeRankingByCountry.csv", header=True, index=True)

In [47]:
def ParseFile(fileName, Unit):
    Details = pd.DataFrame(columns=['Player', 'Club', Unit])
    Totals = pd.DataFrame(columns=['Player', Unit])

    f = open(fileName, "r", encoding='utf-8')
    lines = f.readlines()
    for line in lines:
        #x = re.findall('\[[^\]]*\]|\([^\)]*\)|\"[^\"]*\"|\S+',line)

        player = re.split('\(', line)
        player = player[0].strip()

        if (line[-4] == '('):
            line = line[:-4]

        totalgames = re.findall('\S+', line)
        totalgames = totalgames[-1].strip()

        PlayerTotalSer = pd.Series([player,totalgames], index=['Player', Unit])
        Totals = pd.concat([Totals, pd.DataFrame(PlayerTotalSer)], ignore_index=True)

        clubs_string =[]
        clubs_string = re.findall('\([^\)]*\)', line)
        clubs_string = clubs_string[0].strip('(').strip(')')
        clubs = clubs_string.split(',')

        for i, club in enumerate(clubs):
            tempclub = club.partition('[')
            tempAppear = tempclub[-1][:-1].strip()
            if (tempAppear == ''):
                tempAppear = totalgames 
            playerSer = pd.Series([player, tempclub[0].strip(), tempAppear], index = ['Player', 'Club', Unit] )       
            Details = pd.concat([Details, pd.DataFrame(playerSer)], ignore_index=True)


        del clubs_string, clubs
    f.close()
    Details.columns.str.strip()
    Totals.columns.str.strip()
    return Details, Totals

<>:10: SyntaxWarning: invalid escape sequence '\('
<>:16: SyntaxWarning: invalid escape sequence '\S'
<>:23: SyntaxWarning: invalid escape sequence '\('
<>:10: SyntaxWarning: invalid escape sequence '\('
<>:16: SyntaxWarning: invalid escape sequence '\S'
<>:23: SyntaxWarning: invalid escape sequence '\('
/var/folders/wb/yd9d7tr11p1fxy8s2vvnkjfm0000gn/T/ipykernel_11168/1489932546.py:10: SyntaxWarning: invalid escape sequence '\('
  player = re.split('\(', line)
/var/folders/wb/yd9d7tr11p1fxy8s2vvnkjfm0000gn/T/ipykernel_11168/1489932546.py:16: SyntaxWarning: invalid escape sequence '\S'
  totalgames = re.findall('\S+', line)
/var/folders/wb/yd9d7tr11p1fxy8s2vvnkjfm0000gn/T/ipykernel_11168/1489932546.py:23: SyntaxWarning: invalid escape sequence '\('
  clubs_string = re.findall('\([^\)]*\)', line)

In [48]:
PlayerAppearDetails, PlayerAppearTotals = ParseFile("./raw-data/players.txt", "Appearances")
PlayerGoalDetails, PlayerGoalTotals = ParseFile("./raw-data/playergoals.txt", "Goals")

In [49]:
PlayerAppearDetails.to_csv("../data-output/PlayerAppearDetails.csv", header=True, index=True)
PlayerAppearTotals.to_csv("../data-output/PlayerAppearTotals.csv", header=True, index=True)
PlayerGoalDetails.to_csv("../data-output/PlayerGoalDetails.csv", header=True, index=True)
PlayerGoalTotals.to_csv("../data-output/PlayerGoalTotals.csv", header=True, index=True)

In [50]:
CoachesAppearDetails, CoachesAppearTotals = ParseFile("./raw-data/Coaches.txt", "Appearance")
CoachesAppearDetails.rename({"Player":"Coach"},axis=1, inplace=True)
CoachesAppearTotals.rename({"Player":"Coach"},axis=1, inplace=True)

In [51]:
CoachesAppearTotals
CoachesAppearDetails.to_csv(os.path.join(path,"../data-output/CoachesAppearDetails.csv"), header=True, index=True)
CoachesAppearTotals.to_csv(os.path.join(path,"../data-output/CoachesAppearTotals.csv"), header=True, index=True)

In [52]:
TopGoalScorer = pd.DataFrame(columns=['Year', 'Player', 'Club', 'Goals', 'Appearances'])

f = open("./raw-data/TopGoalScorers.txt", "r", encoding='utf-8')
lines = f.readlines()
for line in lines:
    year = line[:7]
    temp = line[7:].partition('(')
    player = temp[0]
    temp = temp[2].partition(')')
    club = temp[0]
    temp = temp[2].partition('(')
    NumOfGoals = temp[0]
    Appear = temp[2][:-2]
    
    PlayerSer = pd.Series ([year, player , club , NumOfGoals, Appear], 
                          index=['Year', 'Player', 'Club', 'Goals', 'Appearances'])
    TopGoalScorer = pd.concat([TopGoalScorer, pd.DataFrame(PlayerSer)], ignore_index=True)
    del PlayerSer
    #print(year + " --> " + player + " --> " + club + " --> " + NumOfGoals + " --> " + Appear)

In [53]:
TopGoalScorer.to_csv("../data-output/TopGoalScorer.csv", header=True, index=True)

In [54]:
f = open("./raw-data/GoalStatsPerRound.txt", "r", encoding='utf-8')
Header = f.readline()
Header = Header.split()
GoalStatsPerRound = pd.DataFrame(columns=Header)

lines = f.readlines()
for line in lines:
    splitline = line.split()
    splitline[0] = splitline[0].replace('-',' ').replace('Stage2', 'Stage 2')
    TempSer = pd.Series(splitline, index=Header)
    GoalStatsPerRound = pd.concat([GoalStatsPerRound,pd.DataFrame(TempSer)], ignore_index=True)

['1992/93', '25', '56', '2.24', '28', '27', '-', '-', '-', '-', '-', '-', '-', '-', '-', '1']
['1993/94', '27', '71', '2.63', '29', '32', '-', '-', '-', '-', '-', '-', '-', '-', '6', '4']
['1994/95', '61', '140', '2.29', '35', '33', '25', '22', '-', '-', '-', '-', '-', '14', '10', '1']
['1995/96', '61', '159', '2.61', '26', '36', '31', '38', '-', '-', '-', '-', '-', '15', '11', '2']
['1996/97', '61', '161', '2.64', '29', '37', '22', '39', '-', '-', '-', '-', '-', '20', '10', '4']
['1997/98', '85', '239', '2.81', '30', '36', '36', '37', '34', '38', '-', '-', '-', '15', '12', '1']
['1998/99', '85', '238', '2.80', '28', '27', '35', '44', '30', '38', '-', '-', '-', '19', '14', '3']
['1999/00', '157', '442', '2.82', '30', '41', '30', '31', '39', '27', '37', '33', '-', '28', '13', '3']
['1999/00-Stage', '2', '-', '-', '-', '33', '31', '39', '27', '-', '-', '-', '-', '-', '-', '-', '-']

ValueError: Length of values (17) does not match length of index (16)

In [ ]:
GoalStatsPerRound.to_csv(os.path.join(path, 'GoalStatsPerGroupRound.csv'), header=True, index=True)