In [1]:
import pandas as pd
import numpy as np
import re, os

In [2]:
path = 'data'
try:
    os.mkdir(path)
except OSError as error:
    pass  
    
raw_data = pd.read_csv("Clubs.csv", header=None)
raw_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,1,Real,Madrid,CF,ESP,25,7,279,165,54,60,586,307,384.0,279.0,NaN
1,2,FC,Barcelona,ESP,25,4,265,156,63,46,535,265,375,270.0,NaN,NaN
2,3,FC,Bayern,München,GER,24,3,262,151,54,57,527,271,356.0,256.0,NaN
3,4,Manchester,United,FC,ENG,23,2,230,121,56,53,388,220,298.0,168.0,NaN
4,5,Juventus,ITA,21,1,206,104,52,50,324,203,260,121,NaN,NaN,NaN

In [3]:
formatted_data = pd.DataFrame(columns = ['Position','Club','Country','Participated',
                                         'Titles','Played','Win','Draw','Loss','Goals For', 
                                         'Goals Against','Pts','Goal Diff'])

In [4]:
for index, record in raw_data.iterrows():
    StartFrom = 0
    Position = record[0]
    #if (index > 2):
    #    break
    for i in range(15,1,-1):
        if (pd.isna(record[i])):
            pass
        else:
            StartFrom = i
            break
      
    GoalDiff = record[StartFrom]
    Points = record[StartFrom-1]
    GA = record[StartFrom-2]
    GF = record[StartFrom-3]
    Loss = record[StartFrom-4]
    Draw = record[StartFrom-5]
    Win = record[StartFrom-6]
    Played = record[StartFrom-7]
    Titles = record[StartFrom-8]
    Part = record[StartFrom-9]
    Country = record[StartFrom-10]
    Club = ''
    for k in range(1,StartFrom-10):
        Club = Club + " "  + record[k]
    Club = Club.strip()
    
    club_series = pd.Series([Position,Club,Country,Part,Titles,Played,Win,Draw,Loss,GF,GA,Points,GoalDiff], 
                           index = ['Position','Club','Country','Participated', 'Titles','Played','Win','Draw',
                                    'Loss','Goals For', 'Goals Against','Pts','Goal Diff'] )
    formatted_data = formatted_data.append(club_series, ignore_index=True)

In [5]:
formatted_data.shape

(145, 13)

In [6]:
formatted_data

,Position,Club,Country,Participated,Titles,Played,Win,Draw,Loss,Goals For,Goals Against,Pts,Goal Diff
0,1,Real Madrid CF,ESP,25,7,279,165,54,60,586,307,384.0,279.0
1,2,FC Barcelona,ESP,25,4,265,156,63,46,535,265,375.0,270.0
2,3,FC Bayern München,GER,24,3,262,151,54,57,527,271,356.0,256.0
3,4,Manchester United FC,ENG,23,2,230,121,56,53,388,220,298.0,168.0
4,5,Juventus,ITA,21,1,206,104,52,50,324,203,260.0,121.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,141,FC Oţelul Galaţi,ROU,1,0,6,0,0,6,3,11,0.0,-8.0
141,142,MFK Košice,SVK,1,0,6,0,0,6,2,13,0.0,-11.0
142,143,Debreceni VSC,HUN,1,0,6,0,0,6,5,19,0.0,-14.0
143,144,MŠK Žilina,SVK,1,0,6,0,0,6,3,19,0.0,-16.0
144,145,PFC Levski Sofia,BUL,1,0,6,0,0,6,1,17,0.0,-16.0

In [7]:
formatted_data.to_csv("data/AllTimeRankingByClub.csv", header=True, index=False, encoding='utf-16')

In [8]:
formatted_data.reset_index(drop=True, inplace=True)
formatted_data.set_index(["Position"])

,Club,Country,Participated,Titles,Played,Win,Draw,Loss,Goals For,Goals Against,Pts,Goal Diff
Position,,,,,,,,,,,,
1,Real Madrid CF,ESP,25,7,279,165,54,60,586,307,384.0,279.0
2,FC Barcelona,ESP,25,4,265,156,63,46,535,265,375.0,270.0
3,FC Bayern München,GER,24,3,262,151,54,57,527,271,356.0,256.0
4,Manchester United FC,ENG,23,2,230,121,56,53,388,220,298.0,168.0
5,Juventus,ITA,21,1,206,104,52,50,324,203,260.0,121.0
...,...,...,...,...,...,...,...,...,...,...,...,...
141,FC Oţelul Galaţi,ROU,1,0,6,0,0,6,3,11,0.0,-8.0
142,MFK Košice,SVK,1,0,6,0,0,6,2,13,0.0,-11.0
143,Debreceni VSC,HUN,1,0,6,0,0,6,5,19,0.0,-14.0
144,MŠK Žilina,SVK,1,0,6,0,0,6,3,19,0.0,-16.0
145,PFC Levski Sofia,BUL,1,0,6,0,0,6,1,17,0.0,-16.0

In [9]:
formatted_data = formatted_data.astype({'Participated':'int32', 'Titles':'int32', 'Played':'int32','Win':'int32',
                                        'Draw':'int32','Loss':'int32','Goals For':'int32', 'Goals Against':'int32',
                                        'Pts':'int32','Goal Diff':'int32'})
formatted_data.dtypes

Position         object
Club             object
Country          object
Participated      int32
Titles            int32
Played            int32
Win               int32
Draw              int32
Loss              int32
Goals For         int32
Goals Against     int32
Pts               int32
Goal Diff         int32
dtype: object

In [10]:
#del Country_data
Country_data = formatted_data.groupby(formatted_data["Country"]).sum()

In [11]:
Country_data = Country_data.sort_values(by=['Pts','Win'], ascending=False)
Country_data.reset_index(drop=False, inplace=True)

In [12]:
country_dict = { "ESP": "Spain", "ENG": "England", "ITA" :"Italy", "GER":"Germany", "POR": "Portugal",
               "FRA":"France", "NED":"Netherlands", "POL":"Poland", "ROU":"Romania", "RUS":"Russia", 
               "AUT":"Austria", "SCO":"Scotland", "SRB":"Serbia", "SUI":"Switzerland", "SVK":"Slovakia",
               "SVN":"SLovenia", "TUR":"Turkey", "NOR":"Norway", "ISR":"Israel", "KAZ":"Kazakhstan", 
               "AZE":"Azerbaijan", "HUN":"Hungary", "GRE":"Greece", "FIN":"Finland", "DEN":"Denmark", 
                "SWE": "Swedend", "CZE":"Czech Republic", "CYP":"Cyprus", "CRO": "Croatia", "BUL":"Bulgaria", 
                "BLR":"Belarus", "BEL":"Belguim", "UKR":"Ukraine"}

In [13]:
Country_data.rename(columns={"Country":"CountryCode"},inplace=True)
countries = []
for i, code in Country_data["CountryCode"].items():
    country = country_dict[code]
    countries.append(country)
Country_data["Country"]=countries

In [14]:
Country_data = Country_data[['Country','Participated','Titles','Played','Win','Draw','Loss','Goals For',
                            'Goals Against','Pts','Goal Diff']]

In [15]:
Country_data.index = np.arange(1,len(Country_data.index)+1)
Country_data

,Country,Participated,Titles,Played,Win,Draw,Loss,Goals For,Goals Against,Pts,Goal Diff
1,Spain,95,11,947,485,233,229,1649,1027,1203,622
2,England,92,6,901,446,216,239,1515,958,1108,557
3,Italy,82,5,742,328,199,215,1089,856,855,233
4,Germany,82,4,727,331,155,241,1206,977,817,229
5,France,67,1,546,216,122,208,791,705,554,86
6,Portugal,51,1,384,145,86,153,469,507,376,-38
7,Netherlands,41,1,296,94,80,122,339,403,268,-64
8,Russia,42,0,280,70,66,144,296,454,206,-158
9,Greece,34,0,232,65,52,115,242,371,182,-129
10,Ukraine,32,0,215,65,49,101,274,347,179,-73
11,Turkey,32,0,218,54,49,115,209,389,157,-180
12,Belguim,26,0,164,27,46,91,135,296,100,-161
13,Scotland,20,0,128,30,33,65,124,210,93,-86
14,Switzerland,13,0,90,25,18,47,92,160,68,-68
15,Norway,12,0,80,20,18,42,101,143,58,-42
16,Czech Republic,12,0,86,18,22,46,83,156,58,-73
17,Romania,12,0,72,11,19,42,61,116,41,-55
18,Denmark,9,0,56,11,14,31,49,109,36,-60
19,Austria,9,0,60,12,11,37,60,126,35,-66
20,Swedend,8,0,50,13,6,31,45,105,32,-60
21,Croatia,8,0,50,7,10,33,34,102,24,-68
22,Cyprus,5,0,34,4,12,18,24,59,20,-35
23,Belarus,5,0,30,4,7,19,21,73,15,-52
24,Israel,5,0,30,4,4,22,24,58,12,-34
25,Poland,3,0,20,4,4,12,20,45,12,-25
26,SLovenia,3,0,18,1,7,10,9,41,9,-32
27,Serbia,4,0,24,2,4,18,13,58,8,-45
28,Bulgaria,3,0,18,1,4,13,12,46,6,-34
29,Hungary,3,0,18,1,3,14,19,55,5,-36
30,Slovakia,3,0,18,1,3,14,10,41,5,-31
31,Finland,1,0,6,1,2,3,8,12,4,-4
32,Kazakhstan,1,0,6,0,4,2,5,11,4,-6
33,Azerbaijan,1,0,6,0,2,4,2,14,2,-12

In [16]:
Country_data.to_csv("data/AllTimeRankingByCountry.csv", header=True, index=True)

playerclub = pd.DataFrame(columns=['Player', 'Club', 'Appearances'])
playerTotal = pd.DataFrame(columns=['Player', 'Appearances'])

f = open("Players.txt", "r", encoding='utf-8')
lines = f.readlines()
for line in lines:
    #x = re.findall('\[[^\]]*\]|\([^\)]*\)|\"[^\"]*\"|\S+',line)

    player = re.split('\(', line)
    player = player[0]

    if (line[-4] == '('):
        line = line[:-4]
        
    totalgames = re.findall('\S+', line)
    totalgames = totalgames[-1]
    
    PlayerTotalSer = pd.Series([player,totalgames], index=['Player', 'Appearances'])
    playerTotal = playerTotal.append(PlayerTotalSer, ignore_index=True)
    
    clubs_string =[]
    clubs_string = re.findall('\([^\)]*\)', line)
    clubs_string = clubs_string[0].strip('(').strip(')')
    clubs = clubs_string.split(',')
    
    for i, club in enumerate(clubs):
        tempclub = club.partition('[')
        tempAppear = tempclub[-1][:-1]
        if (tempAppear == ''):
            tempAppear = totalgames 
        playerSer = pd.Series([player, tempclub[0], tempAppear], index = ['Player', 'Club', 'Appearances'] )       
        playerclub = playerclub.append(playerSer, ignore_index=True)

                
    del clubs_string, clubs
f.close()

playerTotal.to_csv("PlayerTotalAppearances.csv", header=True, index=True)
playerclub.to_csv("PlayerClubAppearances.csv", header=True, index=True)

In [17]:
def ParseFile(fileName, Unit):
    Details = pd.DataFrame(columns=['Player', 'Club', Unit])
    Totals = pd.DataFrame(columns=['Player', Unit])

    f = open(fileName, "r", encoding='utf-8')
    lines = f.readlines()
    for line in lines:
        #x = re.findall('\[[^\]]*\]|\([^\)]*\)|\"[^\"]*\"|\S+',line)

        player = re.split('\(', line)
        player = player[0].strip()

        if (line[-4] == '('):
            line = line[:-4]

        totalgames = re.findall('\S+', line)
        totalgames = totalgames[-1].strip()

        PlayerTotalSer = pd.Series([player,totalgames], index=['Player', Unit])
        Totals = Totals.append(PlayerTotalSer, ignore_index=True)

        clubs_string =[]
        clubs_string = re.findall('\([^\)]*\)', line)
        clubs_string = clubs_string[0].strip('(').strip(')')
        clubs = clubs_string.split(',')

        for i, club in enumerate(clubs):
            tempclub = club.partition('[')
            tempAppear = tempclub[-1][:-1].strip()
            if (tempAppear == ''):
                tempAppear = totalgames 
            playerSer = pd.Series([player, tempclub[0].strip(), tempAppear], index = ['Player', 'Club', Unit] )       
            Details = Details.append(playerSer, ignore_index=True)


        del clubs_string, clubs
    f.close()
    Details.columns.str.strip()
    Totals.columns.str.strip()
    return Details, Totals

In [18]:
PlayerAppearDetails, PlayerAppearTotals = ParseFile("players.txt", "Appearances")
PlayerGoalDetails, PlayerGoalTotals = ParseFile("playergoals.txt", "Goals")

In [19]:
PlayerAppearDetails.to_csv("data/PlayerAppearDetails.csv", header=True, index=True)
PlayerAppearTotals.to_csv("data/PlayerAppearTotals.csv", header=True, index=True)
PlayerGoalDetails.to_csv("data/PlayerGoalDetails.csv", header=True, index=True)
PlayerGoalTotals.to_csv("data/PlayerGoalTotals.csv", header=True, index=True)

In [20]:
CoachesAppearDetails, CoachesAppearTotals = ParseFile("Coaches.txt", "Appearance")
CoachesAppearDetails.rename({"Player":"Coach"},axis=1, inplace=True)
CoachesAppearTotals.rename({"Player":"Coach"},axis=1, inplace=True)

In [21]:
CoachesAppearTotals
CoachesAppearDetails.to_csv(os.path.join(path,"CoachesAppearDetails.csv"), header=True, index=True)
CoachesAppearTotals.to_csv(os.path.join(path,"CoachesAppearTotals.csv"), header=True, index=True)

In [22]:
TopGoalScorer = pd.DataFrame(columns=['Year', 'Player', 'Club', 'Goals', 'Appearances'])

f = open("TopGoalScorers.txt", "r", encoding='utf-8')
lines = f.readlines()
for line in lines:
    year = line[:7]
    temp = line[7:].partition('(')
    player = temp[0]
    temp = temp[2].partition(')')
    club = temp[0]
    temp = temp[2].partition('(')
    NumOfGoals = temp[0]
    Appear = temp[2][:-2]
    
    PlayerSer = pd.Series ([year, player , club , NumOfGoals, Appear], 
                          index=['Year', 'Player', 'Club', 'Goals', 'Appearances'])
    TopGoalScorer = TopGoalScorer.append(PlayerSer, ignore_index=True)
    del PlayerSer
    #print(year + " --> " + player + " --> " + club + " --> " + NumOfGoals + " --> " + Appear)

In [23]:
TopGoalScorer.to_csv("data/TopGoalScorer.csv", header=True, index=True)

In [24]:

f = open("GoalStatsPerRound.txt", "r", encoding='utf-8')
Header = f.readline()
Header = Header.split()
GoalStatsPerRound = pd.DataFrame(columns=Header)

lines = f.readlines()
for line in lines:
    splitline = line.split()
    splitline[0] = splitline[0].replace('-',' ').replace('Stage2', 'Stage 2')
    TempSer = pd.Series(splitline, index=Header)
    GoalStatsPerRound = GoalStatsPerRound.append(TempSer, ignore_index=True)

In [25]:
GoalStatsPerRound.to_csv(os.path.join(path, 'GoalStatsPerGroupRound.csv'), header=True, index=True)